form{
    display:grid;
    padding: 10px;
}
button{
    position: relative;
    margin-top: 20px;
    background-color: rgb(48, 112, 250);
    font-size: medium;
    height: 35px;
    border-radius: 5px;
    border: none;
    color: white;

}
input{
    margin: 10px;
    border-radius: 5px;
    font-size: medium;
}
h4{
    text-align: center;
}