form{
    display:grid;
    padding: 10px;
    background-color: rgb(226, 226, 226);
}

button{
    width:150px;
    text-align: center;
    margin-left: 130px;
    margin-top: 20px;
    background-color: rgb(62, 122, 250);
    font-size: medium;
    height: 35px;
    border-radius: 5px;
    border: none;
    color: white;
}
h4{
    text-align: center;
}
select,input{
    font-size: medium;
    border-radius: 5px;
    margin: 10px;
}